@import url("../fontawesome/css/all.css");
@import url("../fontawesome/css/brands.css");
@import url("../fontawesome/css/fontawesome.css");
@import url("../fontawesome/css/solid.css");
@import url("../fontawesome/css/regular.css");
html {
  width: 100%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  color: whitesmoke;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

hr {
  height: 0 !important;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.eot") format("embedded-opentype");
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
  src: url("../fonts/roboto/Roboto-Black.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2");
  src: url("../fonts/roboto/Roboto-Regular.eot") format("embedded-opentype");
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/heebo/Heebo-Black.ttf") format("truetype");
  src: url("../fonts/heebo/Heebo-Regular.eot") format("embedded-opentype");
  src: url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  src: url("../fonts/heebo/Heebo-Regular.woff") format("woff");
  src: url("../fonts/heebo/Heebo-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSans-Light.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-Light.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Light.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-SemiBold.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-Regular.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", "Open Sans", Helvetica;
}

a, button {
  font-family: "Open Sans", "Heebo", Helvetica;
}

/* colors */
/* background colors */
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-display: column;
  background-color: rgba(192, 225, 240, 0.35) !important;
  padding: 0 !important;
}
body hr {
  min-width: 500px;
  height: 1px !important;
  margin-right: auto !important;
  background: linear-gradient(2deg, rgb(91, 98, 104) 65%, rgb(213, 248, 255) 100%);
}
@media screen and (max-width: 599px) {
  body hr {
    margin-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  body hr {
    margin-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  body hr {
    margin-left: 3%;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.header-container {
  padding: 10px;
  background: linear-gradient(2deg, rgb(62, 147, 255) 60%, rgb(213, 248, 255) 100%);
}
@media screen and (max-width: 599px) {
  .header-container {
    margin: 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .header-container {
    margin: 0.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .header-container > .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .header-container > .nav-container {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.header-container > .nav-container > .fa-bars {
  cursor: pointer;
  font-size: 24px;
  color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container > .fa-bars {
    visibility: visible;
    opacity: 1;
    margin-left: auto;
  }
}
@media screen and (min-width: 600px) {
  .header-container > .nav-container > .fa-bars {
    visibility: visible;
    opacity: 1;
    margin-left: auto;
  }
}
@media screen and (min-width: 900px) {
  .header-container > .nav-container > .fa-bars {
    visibility: hidden;
    opacity: 0;
  }
}
.header-container > .nav-container > .unordered-list {
  width: 200px;
  list-style: none;
  margin: 0 !important;
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container > .unordered-list {
    display: "none";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .header-container > .nav-container > .unordered-list {
    display: "none";
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .header-container > .nav-container > .unordered-list {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.header-container > .nav-container .list-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 2.2rem;
  margin: 0 5px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s;
}
.header-container > .nav-container .list-item-underline {
  position: absolute;
  top: 35px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: whitesmoke;
  transition: all 0.5s;
}
.header-container > .nav-container .list-item:hover {
  background-color: #3573CA;
}
.header-container > .nav-container .list-item:hover .list-item-underline {
  width: 100%;
  left: 0;
}
.header-container > .nav-container .link {
  cursor: pointer;
  text-decoration: none !important;
  color: whitesmoke !important;
}

.e-header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .e-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .e-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .e-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .header-container-search {
    min-width: 46%;
    margin: 2% 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .header-container-search {
    width: 250px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .header-container-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.btn-search {
  max-width: 35px;
  max-height: 33px;
  margin-left: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-search:hover {
  transform: scale(1.2);
  color: rgb(213, 214, 214);
}

.fa-search {
  padding-top: 10px;
  margin-left: 10px;
}

.search-input,
.search-input:focus {
  border: none !important;
  outline: none !important;
}

.container-form {
  max-width: 500px;
  min-height: 600px;
}

.form {
  display: block;
  margin: 5% 0;
  border-radius: 5px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 100;
}

#input-number:focus {
  border-color: rgb(62, 147, 255) !important;
  outline: none !important;
}

h2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  color: #2A5699;
  font-weight: bold;
  cursor: pointer;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.uneditable-input:focus {
  border: 1px solid rgb(62, 147, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 147, 255, 0.25);
  outline: 0 none;
}

#ss:focus,
select:focus,
.form-select:focus,
.form-select-from,
.form-select-from:focus,
.uneditable-select:focus {
  border-color: rgb(62, 147, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 147, 255, 0.25) !important;
  outline: none !important;
}

.e-button {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  border-radius: 5px;
  border: none;
  color: whitesmoke !important;
  overflow: hidden;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
  overflow: hidden !important;
  background: linear-gradient(2deg, rgb(91, 98, 104) 35%, rgb(213, 248, 255) 100%);
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.e-button:hover {
  background: linear-gradient(2deg, rgb(91, 98, 104) 55%, rgb(213, 248, 255) 100%);
}

.btn-convert,
.btn-calculate-figures {
  overflow: hidden;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
  background: linear-gradient(2deg, rgb(62, 147, 255) 40%, rgb(213, 248, 255) 100%);
}

.btn-calculate-figures:hover,
.btn-convert:hover {
  background: linear-gradient(2deg, rgb(62, 147, 255) 55%, rgb(213, 248, 255) 100%);
}

.span-convert {
  padding-top: 2px;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.fa-long-arrow-alt-right {
  color: #fff;
  position: absolute;
  right: 12px;
  top: 11px;
  display: inline-block;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.btn-calculate-figures:hover > .span-convert,
.btn-convert:hover > .span-convert {
  transform: translateX(-12px);
  -webkit-transform: translateX(-12px);
}

.btn-calculate-figures:hover > .fa-long-arrow-alt-right,
.btn-convert:hover > .fa-long-arrow-alt-right {
  visibility: visible;
  opacity: 1;
}

footer {
  background: linear-gradient(2deg, rgb(62, 147, 255) 60%, rgb(213, 248, 255) 100%);
  padding: 15px 0px;
  color: whitesmoke;
}

.footer-container {
  width: 100%;
}
@media screen and (max-width: 599px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 993px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.icons-container {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .icons-container {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .icons-container {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .icons-container {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .icons-container {
    width: 450px;
  }
}
.icons-container > i {
  cursor: pointer;
  font-size: 30px;
  margin: 0 1%;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  background: linear-gradient(2deg, rgb(91, 98, 104) 35%, rgb(213, 248, 255) 100%) !important;
  transition: all 0.5s;
}
.icons-container > i:hover {
  transform: scale(0.95);
  box-shadow: 1px 0px 13px -3px #000;
}
.icons-container .fa-facebook-f {
  padding: 5px 11px;
}

.feedback-container {
  margin: 2% 0;
  padding-left: 0;
}
@media screen and (max-width: 599px) {
  .feedback-container {
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .feedback-container {
    min-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-container {
    min-width: 550px;
  }
}

.text-area-feedback {
  max-width: 350px;
}

#feedback,
textarea:focus,
#feedback:focus,
.text-area-feedback:focus {
  border: 1px solid transparent !important;
  resize: none !important;
  outline: 0 !important;
}

.feedback {
  cursor: pointer;
  width: 140px;
  background: linear-gradient(2deg, rgb(91, 98, 104) 35%, rgb(213, 248, 255) 100%);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 12px;
  transition: all 0.4s;
}
.feedback:hover {
  background: linear-gradient(2deg, rgb(91, 98, 104) 55%, rgb(213, 248, 255) 100%);
}

.modal-content {
  background: linear-gradient(2deg, rgb(62, 147, 255) 60%, rgb(213, 248, 255) 100%);
}

.modal-header .fa-check {
  border: 0.5px solid black;
  border-radius: 50%;
  padding: 5px;
}

.list-container {
  margin: 2% 0;
}

.u-list {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.list-anchor {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  transition: all 0.4s;
  font-size: 18px;
}
.list-anchor .fa-table, .list-anchor .fa-university, .list-anchor .fa-calculator {
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  padding-right: 8px !important;
  transition: all 0.4s;
}
.list-anchor .fa-table {
  color: #FC5A8D !important;
}
.list-anchor .fa-university {
  color: #A7F432 !important;
}
.list-anchor .fa-calculator {
  color: #76D7EA !important;
}

.a-table:hover .fa-table {
  opacity: 1;
  visibility: visible;
}

.a-university:hover .fa-university {
  opacity: 1;
  visibility: visible;
}

.a-calculator:hover .fa-calculator {
  opacity: 1;
  visibility: visible;
}

.convert-description-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 0.5% 0;
}

section {
  width: 100%;
  margin: 2% 0;
}
section > h5, section > div, section > p {
  width: 100%;
}

.convert-decimal-to-binary,
.convert-decimal-to-hexadecimal,
.convert-decimal-to-octal,
.convert-binary-to-decimal,
.convert-binary-to-binary,
.convert-binary-to-hexadecimal,
.convert-binary-to-octal,
.convert-hexadecimal-to-decimal,
.convert-hexadecimal-to-binary,
.convert-hexadecimal-to-hexadecimal,
.convert-hexadecimal-to-octal,
.convert-octal-to-decimal,
.convert-octal-to-binary,
.convert-octal-to-hexadecimal,
.convert-octal-to-octal {
  display: none;
}

@media screen and (max-width: 599px) {
  .code-container {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .code-container {
    min-width: 500px;
  }
}
@media screen and (min-width: 900px) {
  .code-container {
    min-width: 500px;
  }
}

.code-csharp > pre {
  width: 100% !important;
  font-size: 14px !important;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
}

.copy-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2% 0;
  position: relative;
}

.span-copied {
  visibility: hidden;
}

.fa-clipboard {
  display: block;
  cursor: pointer !important;
  font-size: 20px;
  color: #2A5699;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.fa-clipboard:hover {
  color: #3573CA;
}
.fa-clipboard:hover > .span-copy {
  visibility: visible;
  opacity: 1;
}
.fa-clipboard:active > .span-copy {
  opacity: 0;
  visibility: hidden;
}
.fa-clipboard:active > .span-copied {
  visibility: visible;
  opacity: 1;
}

.span-copied,
.span-copy {
  opacity: 0;
  visibility: hidden;
  width: 100px;
  position: absolute;
  top: -30px;
  right: -40px;
  color: #2A5699 !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.factorial-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .factorial-container {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .factorial-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .factorial-container {
    padding-left: 3%;
  }
}

.form-factorial {
  max-width: 400px;
}

.code-factorial > pre {
  max-width: 400px !important;
  font-size: 14px !important;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
}

.copy-container {
  max-width: 400px !important;
}
.copy-container .fa-clipboard,
.copy-container .fa-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2% 0 2% auto;
  color: #2A5699;
}
.copy-container .fa-check {
  display: none;
}

.fibonacci-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .fibonacci-container {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .fibonacci-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .fibonacci-container {
    padding-left: 3%;
  }
}

.code-fibonacci > pre {
  max-width: 400px !important;
  font-size: 14px !important;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
}

.table-bordered {
  max-width: 400px;
  font-size: 16px !important;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.table-bordered > thead {
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.7) 10%, rgb(213, 248, 255) 100%) !important;
}
.table-bordered th {
  font-weight: bold !important;
  text-align: center;
}
.table-bordered td {
  text-align: right;
}
.table-bordered th, .table-bordered tr {
  width: 100px;
}

.container-form-figures {
  max-width: 500px;
  min-height: 600px;
  margin-right: auto;
}
@media screen and (max-width: 599px) {
  .container-form-figures {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .container-form-figures {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .container-form-figures {
    padding-left: 3%;
  }
}

.form {
  display: block;
  margin: 5% 0;
  border-radius: 5px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 100;
}

#input-number:focus {
  border-color: rgb(62, 147, 255) !important;
  outline: none !important;
}

.triangle-perimeter,
.triangle-volume,
.triangle-area-herons-formula,
.triangle-area-with-angle-formula {
  display: none;
}/*# sourceMappingURL=styles.css.map */