@import url("../fontawesome/css/all.css");
@import url("../fontawesome/css/brands.css");
@import url("../fontawesome/css/fontawesome.css");
@import url("../fontawesome/css/solid.css");
@import url("../fontawesome/css/regular.css");
html {
  width: 100%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  color: whitesmoke;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

hr {
  height: 0 !important;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.eot") format("embedded-opentype");
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
  src: url("../fonts/roboto/Roboto-Black.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2");
  src: url("../fonts/roboto/Roboto-Regular.eot") format("embedded-opentype");
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/heebo/Heebo-Black.ttf") format("truetype");
  src: url("../fonts/heebo/Heebo-Regular.eot") format("embedded-opentype");
  src: url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  src: url("../fonts/heebo/Heebo-Regular.woff") format("woff");
  src: url("../fonts/heebo/Heebo-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/OpenSans-Light.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-Light.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Light.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-SemiBold.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-SemiBold.woff2") format("woff2");
  src: url("../fonts/open-sans/OpenSans-Regular.eot") format("embedded-opentype");
  src: url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  src: url("../fonts/open-sans/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", "Open Sans", Helvetica;
}

a, button {
  font-family: "Open Sans", "Heebo", Helvetica;
}

/* colors */
/* background colors */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-display: column;
  background-color: rgba(192, 225, 240, 0.35) !important;
  padding: 0 !important;
}
body hr {
  min-width: 500px;
  height: 1px !important;
  margin-right: auto !important;
  background: linear-gradient(2deg, rgb(91, 98, 104) 65%, rgb(213, 248, 255) 100%);
}
@media screen and (max-width: 599px) {
  body hr {
    margin-left: 0%;
    min-width: 100%;
  }
}
@media screen and (min-width: 600px) {
  body hr {
    margin-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  body hr {
    margin-left: 3%;
  }
}

.container-fluid {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-top: 7%;
  -webkit-animation: fadeIn 1.6s forwards;
          animation: fadeIn 1.6s forwards;
}
@media screen and (max-width: 599px) {
  .container-fluid {
    padding-left: 1.2%;
    padding-right: 1.2%;
  }
}

.second-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .second-container {
    width: 100%;
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .second-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .second-container {
    padding-left: 3%;
  }
}

.third-container {
  max-width: 400px;
}
@media screen and (max-width: 599px) {
  .third-container {
    width: 100%;
  }
}

.container-currency-live {
  max-width: 400px !important;
  max-width: 400px;
  font-size: 14px;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  padding: 3.5%;
}
@media screen and (max-width: 599px) {
  .container-currency-live {
    width: 100%;
  }
}

.container-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5% 0;
}
@media screen and (max-width: 599px) {
  .container-carousel {
    width: 100% !important;
    height: 400px !important;
  }
}
@media screen and (min-width: 600px) {
  .container-carousel {
    width: 500px !important;
    height: 500px !important;
  }
}

.container-forms {
  max-width: 600px;
}
@media screen and (max-width: 599px) {
  .container-forms {
    width: 100%;
    max-width: none;
  }
}

.header-container {
  width: 100%;
  z-index: 1000 !important;
  padding: 10px;
  background: linear-gradient(2deg, rgba(52, 152, 219, 0.85) 60%, rgba(213, 248, 255, 0.85) 100%);
}
@media screen and (max-width: 992px) {
  .header-container {
    position: relative;
    margin: 0.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .header-container {
    position: relative;
    margin: 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 993px) {
  .header-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .header-container > .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 993px) {
  .header-container > .nav-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.header-container > .nav-container > .fa-bars {
  cursor: pointer;
  font-size: 24px;
  color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container > .fa-bars {
    visibility: visible;
    opacity: 1;
    margin-left: auto;
  }
}
@media screen and (max-width: 992px) {
  .header-container > .nav-container > .fa-bars {
    visibility: visible;
    opacity: 1;
    margin-left: auto;
  }
}
@media screen and (min-width: 993px) {
  .header-container > .nav-container > .fa-bars {
    visibility: hidden;
    opacity: 0;
  }
}
.header-container > .nav-container > .unordered-list {
  width: 200px;
  list-style: none;
  margin: 0 !important;
}
@media screen and (max-width: 992px) {
  .header-container > .nav-container > .unordered-list {
    display: "none";
    padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .header-container > .nav-container > .unordered-list {
    display: "none";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 993px) {
  .header-container > .nav-container > .unordered-list {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.header-container > .nav-container .list-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 0;
  height: 2.2rem;
  margin: 0;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s;
}
@media screen and (min-width: 1200px) {
  .header-container > .nav-container .list-item {
    margin: 0 5px;
  }
}
.header-container > .nav-container .list-item-underline {
  position: absolute;
  top: 35px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: whitesmoke;
  transition: all 0.5s;
}
.header-container > .nav-container .list-item:hover {
  background-color: #2E86C1;
}
.header-container > .nav-container .list-item:hover .list-item-underline {
  width: 100%;
  left: 0;
}
.header-container > .nav-container .link {
  cursor: pointer;
  text-decoration: none !important;
  color: whitesmoke !important;
}

.fa-caret-up {
  display: none;
}

.fa-caret-down,
.fa-caret-up {
  color: whitesmoke;
  padding-left: 5px;
}

.nav-link {
  padding: 0 !important;
}

.ul-dropdown-container {
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
}

.dropdown-item:hover {
  color: #2E86C1 !important;
}

.e-header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .e-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .e-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .e-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .header-container-search {
    min-width: 46%;
    margin: 2% 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .header-container-search {
    width: 250px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .header-container-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.btn-search {
  max-width: 35px;
  max-height: 33px;
  margin-left: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-search:hover {
  transform: scale(1.2);
  color: rgb(213, 214, 214);
}

.fa-search {
  padding-top: 10px;
  margin-left: 10px;
}

.search-input,
.search-input:focus {
  border: none !important;
  outline: none !important;
}

.container-form {
  max-width: 500px;
  min-height: 600px;
}
@media screen and (max-width: 599px) {
  .container-form {
    width: 100%;
    max-width: none;
  }
}

.form {
  display: block;
  margin: 5% 0;
  border-radius: 5px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
}
.form-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 100;
}

.e-form {
  display: block;
  margin: 5% 0;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
}
.e-form-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 100;
}
.e-form > h3 {
  background-color: #3498DB;
  padding: 3%;
  color: whitesmoke;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-inner-container {
  padding: 15px;
}

#input-number:focus {
  border-color: rgb(62, 147, 255) !important;
  outline: none !important;
}

h2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  color: #2A5699;
  font-weight: bold;
  cursor: pointer;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
.uneditable-input:focus {
  outline: 0 none !important;
  border-color: #3498DB !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.095) inset, 0 0 8px rgba(77, 147, 217, 0.45) !important;
}

select:focus {
  outline: 0 none !important;
  border-color: #3498DB !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.095) inset, 0 0 8px rgba(77, 147, 217, 0.45) !important;
}

option {
  outline: 0 none !important;
  border: 1px solid #3498DB !important;
}

#ss:focus,
select:focus,
.form-select:focus,
.form-select-from,
.form-select-from:focus,
.uneditable-select:focus {
  border-color: rgb(62, 147, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 147, 255, 0.25) !important;
  outline: none !important;
}

.e-button {
  cursor: pointer !important;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  border-radius: 5px;
  border: none;
  color: whitesmoke !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  overflow: hidden !important;
  background-color: #626567;
  transition: all 0.5s ease-in-out;
}
.e-button:hover {
  background-color: #757575;
}

.e-button-math {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  color: whitesmoke !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  overflow: hidden !important;
  background-color: #3498DB;
  transition: all 0.5s ease-in-out;
}
.e-button-math:hover {
  background-color: #2E86C1;
}

.e-button-default {
  cursor: pointer !important;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  color: whitesmoke !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  overflow: hidden !important;
  background-color: #626567;
  transition: all 0.5s ease-in-out;
}
.e-button-default:hover {
  background-color: #757575;
}

.e-button-default-blue {
  cursor: pointer !important;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  color: whitesmoke !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  overflow: hidden !important;
  background-color: #3498DB;
  transition: all 0.5s ease-in-out;
}
.e-button-default-blue:hover {
  background-color: #2E86C1;
}

.btn-convert,
.btn-calculate-figures,
.btn-calculate-distance-betweem-points {
  overflow: hidden;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  background-color: #3498DB;
}

.btn-calculate-figures:hover,
.btn-convert:hover,
.btn-calculate-distance-betweem-points:hover {
  background-color: #2E86C1;
}

.span-convert {
  padding-top: 2px;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.fa-long-arrow-alt-right {
  color: #fff;
  position: absolute;
  right: 12px;
  top: 11px;
  display: inline-block;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.btn-calculate-figures:hover > .span-convert,
.btn-convert:hover > .span-convert,
.btn-calculate-distance-betweem-points:hover > .span-convert {
  transform: translateX(-12px);
  -webkit-transform: translateX(-12px);
}

.btn-calculate-figures:hover > .fa-long-arrow-alt-right,
.btn-convert:hover > .fa-long-arrow-alt-right,
.btn-calculate-distance-betweem-points:hover > .fa-long-arrow-alt-right {
  visibility: visible;
  opacity: 1;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/tu-gabrovo-footer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 15px 0px;
  color: whitesmoke;
}

.footer-container {
  width: 100%;
}
@media screen and (max-width: 599px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 993px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.icons-container {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .icons-container {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .icons-container {
    width: 300px;
  }
}
@media screen and (min-width: 900px) {
  .icons-container {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .icons-container {
    width: 450px;
  }
}
.icons-container > i {
  cursor: pointer;
  font-size: 30px;
  margin: 0 1%;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  transition: all 0.5s;
}
.icons-container > i:hover {
  box-shadow: 1px 0px 13px -3px #fff;
}
.icons-container .fa-github {
  background-color: rgb(0, 0, 0);
}
.icons-container .fa-github:hover {
  background-color: rgb(40, 40, 40);
}
.icons-container .fa-facebook-f {
  padding: 5px 12px;
  background-color: rgb(69, 104, 233);
}
.icons-container .fa-facebook-f:hover {
  background-color: rgb(76, 135, 253);
}
.icons-container .fa-twitter {
  background-color: rgb(68, 143, 230);
}
.icons-container .fa-twitter:hover {
  background-color: rgb(68, 186, 253);
}
.icons-container .fa-youtube {
  background-color: rgb(230, 38, 62);
}
.icons-container .fa-youtube:hover {
  background-color: rgb(249, 38, 16);
}

.feedback-container {
  margin: 2% 0;
  padding-left: 0;
}
@media screen and (max-width: 599px) {
  .feedback-container {
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) {
  .feedback-container {
    min-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-container {
    min-width: 550px;
  }
}

.text-area-feedback {
  max-width: 350px;
}

#feedback,
textarea:focus,
#feedback:focus,
.text-area-feedback:focus {
  border: 1px solid transparent !important;
  resize: none !important;
  outline: 0 !important;
}

.feedback {
  cursor: pointer;
  width: 140px;
  background: linear-gradient(2deg, rgb(91, 98, 104) 35%, rgb(213, 248, 255) 100%);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 12px;
  transition: all 0.4s;
}
.feedback:hover {
  background: linear-gradient(2deg, rgb(91, 98, 104) 55%, rgb(213, 248, 255) 100%);
}

.modal-content {
  padding: 10px 20px;
  background: linear-gradient(2deg, rgba(52, 152, 219, 0.75) 35%, rgba(213, 248, 255, 0.85) 100%);
  border-radius: 5px;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #757575;
  background-clip: padding-box;
  background-color: #fff;
  border-bottom: 1px solid rgba 0, 0, 0, 0.05;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.modal-header h5 {
  width: 100%;
  text-align: center;
}

.modal-header .fa-check {
  border: 0.5px solid black;
  border-radius: 50%;
  padding: 5px;
}

.list-container {
  margin: 2% 0;
}

.u-list {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.list-anchor {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  transition: all 0.4s;
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none !important;
}
.list-anchor .fa-table, .list-anchor .fa-university, .list-anchor .fa-calculator {
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  padding-right: 8px !important;
  transition: all 0.4s;
}
.list-anchor .fa-table {
  color: #FC5A8D !important;
}
.list-anchor .fa-university {
  color: #A7F432 !important;
}
.list-anchor .fa-calculator {
  color: #76D7EA !important;
}

.a-table:hover {
  color: #FC5A8D !important;
}
.a-table:hover .fa-table {
  opacity: 1;
  visibility: visible;
}

.a-university:hover {
  color: #A7F432 !important;
}
.a-university:hover .fa-university {
  opacity: 1;
  visibility: visible;
}

.a-calculator:hover {
  color: #76D7EA !important;
}
.a-calculator:hover .fa-calculator {
  opacity: 1;
  visibility: visible;
}

code > pre {
  max-width: 400px;
  max-width: 400px;
  font-size: 14px;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
}
@media screen and (max-width: 599px) {
  code > pre {
    max-width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .copy-container {
    width: 100% !important;
    max-width: none !important;
  }
}
@media screen and (min-width: 600px) {
  .copy-container {
    max-width: 400px !important;
  }
}

@media screen and (max-width: 599px) {
  .code-container-carousel {
    width: 100% !important;
    max-width: none !important;
  }
}
@media screen and (min-width: 600px) {
  .code-container-carousel {
    width: 100% !important;
    max-width: none !important;
  }
}
@media screen and (min-width: 993px) {
  .code-container-carousel {
    width: 500px !important;
  }
}

.copy-container-carousel {
  width: 100% !important;
}

.fa-clipboard,
.fa-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2% 0 2% auto;
  color: #2A5699;
}

.fa-check {
  display: none;
}

.img-carousel {
  width: 500px !important;
  height: 400px !important;
}
@media screen and (max-width: 599px) {
  .img-carousel {
    width: 100% !important;
    height: 100% !important;
  }
}

.convert-description-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 0.5% 0;
}
@media screen and (max-width: 599px) {
  .convert-description-container {
    width: 100%;
    max-width: none;
  }
}

section {
  width: 100%;
  margin: 2% 0;
}
section > h5, section > div, section > p {
  width: 100%;
}

.convert-decimal-to-binary,
.convert-decimal-to-hexadecimal,
.convert-decimal-to-octal,
.convert-binary-to-decimal,
.convert-binary-to-binary,
.convert-binary-to-hexadecimal,
.convert-binary-to-octal,
.convert-hexadecimal-to-decimal,
.convert-hexadecimal-to-binary,
.convert-hexadecimal-to-hexadecimal,
.convert-hexadecimal-to-octal,
.convert-octal-to-decimal,
.convert-octal-to-binary,
.convert-octal-to-hexadecimal,
.convert-octal-to-octal {
  display: none;
}

.navigation-under-container {
  opacity: 0;
  background: linear-gradient(rgba(77, 147, 217, 0.75), rgba(0, 0, 0, 0.85)), url(../images/tu-gabrovo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
  z-index: 999 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2% 0;
  transition: all ease-out 0.4s;
}
@media screen and (max-width: 992px) {
  .navigation-under-container {
    position: absolute;
    top: 100%;
    left: calc(50% - 300px);
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .navigation-under-container {
    position: static;
    top: 6.2%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2%;
  }
}
@media screen and (min-width: 993px) {
  .navigation-under-container {
    position: fixed;
    top: 7%;
    left: calc(50% - 300px);
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-under-container {
    position: fixed;
    top: 6.2%;
    left: calc(50% - 300px);
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.navigation-under-container h3 {
  color: whitesmoke;
}

.navigation-under-title-line {
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
  margin-bottom: 3%;
}

.navigation-under-list {
  list-style-type: none;
  padding-left: 0;
}

.navigation-under-item {
  position: relative;
}

.navigation-under-link {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none !important;
  transition: all ease-out 0.4s;
}
.navigation-under-link:hover {
  color: #3498DB;
  transform: translateX(10px);
}
.navigation-under-link:hover ~ .fa-caret-right {
  opacity: 1;
  transform: translateX(10px);
}

.fa-caret-right {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -15px;
  color: #3498DB;
  transition: all ease-out 0.4s;
}

.cookies-info-container {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
  z-index: 9999;
  background-color: whitesmoke;
  padding: 10px 30px !important;
}

.cookies-info-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.cookies-info-body > p {
  margin: 0 20px 0 0;
}
@media screen and (max-width: 992px) {
  .cookies-info-body > p {
    font-size: 14px;
  }
}
@media screen and (max-width: 599px) {
  .cookies-info-body > p {
    font-size: 14px;
  }
}
@media screen and (min-width: 993px) {
  .cookies-info-body > p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .cookies-info-body > p {
    font-size: 20px;
  }
}

.cookies-info-learn-more-container {
  display: none;
  opacity: 0;
  position: absolute;
  top: 10%;
  width: 50%;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  z-index: 999;
  background-color: whitesmoke;
  padding: 60px 50px !important;
}
@media screen and (max-width: 992px) {
  .cookies-info-learn-more-container {
    top: 20%;
    left: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 599px) {
  .cookies-info-learn-more-container {
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  .cookies-info-learn-more-container {
    left: 15%;
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .cookies-info-learn-more-container {
    left: 25%;
    width: 50%;
  }
}
.cookies-info-learn-more-container > p {
  font-size: 14px;
}

.cookies-info-learn-more-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .code-container {
    width: 100% !important;
    max-width: none !important;
  }
}
@media screen and (min-width: 600px) {
  .code-container {
    max-width: 500px !important;
  }
}

.code-csharp {
  max-width: 100%;
}

.code-csharp > pre,
.code-carousel,
.code-range,
.code-checkbox,
.code-input-field,
.code-toggle-switch {
  display: block;
  width: 100% !important;
  max-width: none !important;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
}
@media screen and (max-width: 599px) {
  .code-csharp > pre,
.code-carousel,
.code-range,
.code-checkbox,
.code-input-field,
.code-toggle-switch {
    font-size: 11px;
    overflow: scroll;
  }
}
@media screen and (min-width: 600px) {
  .code-csharp > pre,
.code-carousel,
.code-range,
.code-checkbox,
.code-input-field,
.code-toggle-switch {
    font-size: 14px;
    overflow: auto;
  }
}

.copy-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2% 0;
  position: relative;
}

.span-copied {
  visibility: hidden;
}

.fa-clipboard {
  display: block;
  cursor: pointer !important;
  font-size: 20px;
  color: #2A5699;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.fa-clipboard:hover {
  color: #3573CA;
}
.fa-clipboard:hover > .span-copy {
  visibility: visible;
  opacity: 1;
}
.fa-clipboard:active > .span-copy {
  opacity: 0;
  visibility: hidden;
}
.fa-clipboard:active > .span-copied {
  visibility: visible;
  opacity: 1;
}

.span-copied,
.span-copy {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -30px;
  right: -40px;
  color: #2A5699 !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
@media screen and (max-width: 599px) {
  .span-copied,
.span-copy {
    width: none;
  }
}
@media screen and (min-width: 600px) {
  .span-copied,
.span-copy {
    width: 100px;
  }
}

.factorial-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .factorial-container {
    width: 100%;
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .factorial-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .factorial-container {
    padding-left: 3%;
  }
}

.input-factorial-result {
  height: auto !important;
}

.form-factorial {
  max-width: 400px;
}

.input-factorial-number:focus {
  outline: 0 none !important;
  border-color: #3498DB !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.095) inset, 0 0 8px rgba(77, 147, 217, 0.45) !important;
}

.fibonacci-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .fibonacci-container {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .fibonacci-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .fibonacci-container {
    padding-left: 3%;
  }
}

.input-fibonacci-result {
  height: auto !important;
}

.code-fibonacci > pre {
  max-width: 400px;
  font-size: 14px;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
}

.input-fibonacci-number:focus {
  outline: 0 none !important;
  border-color: #3498DB !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.095) inset, 0 0 8px rgba(77, 147, 217, 0.45) !important;
}

.table-bordered {
  font-size: 16px !important;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0, 0, 0, 0) !important;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .table-bordered {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .table-bordered {
    width: 400px;
  }
}
.table-bordered > thead {
  background: rgba(91, 98, 104, 0.7) !important;
}
.table-bordered th {
  text-align: center;
  color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .table-bordered th {
    max-width: 60px;
  }
}
@media screen and (min-width: 600px) {
  .table-bordered th {
    width: 100px;
  }
}
.table-bordered td {
  text-align: right;
}
@media screen and (max-width: 599px) {
  .table-bordered td {
    max-width: 60px;
  }
}
@media screen and (min-width: 600px) {
  .table-bordered td {
    width: 100px;
  }
}
.table-bordered th, .table-bordered tr {
  max-width: 100%;
}
.table-bordered tr,
.table-bordered .tr-default {
  cursor: pointer;
  color: #2A5699 !important;
  background: linear-gradient(2deg, rgba(91, 98, 104, 0.08) 100%, rgb(213, 248, 255) 100%) !important;
  color: #4f4f4f !important;
}

.container-form-figures {
  max-width: 500px;
  margin-right: auto;
}
@media screen and (max-width: 599px) {
  .container-form-figures {
    padding-left: 0%;
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .container-form-figures {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .container-form-figures {
    padding-left: 3%;
  }
}
.container-form-figures input[type=text]:focus {
  outline: 0 none !important;
  border-color: #3498DB !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.095) inset, 0 0 8px rgba(77, 147, 217, 0.45) !important;
}

.form {
  display: block;
  margin: 5% 0;
  border-radius: 5px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2) !important;
}
.form-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 100;
}

#input-number:focus {
  border-color: rgb(62, 147, 255) !important;
  outline: none !important;
}

.triangle-perimeter,
.triangle-volume,
.triangle-area-herons-formula,
.triangle-area-with-angle-formula {
  display: none;
}

.distance-calculator-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .distance-calculator-container {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .distance-calculator-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .distance-calculator-container {
    padding-left: 3%;
  }
}

.code-distance-conversion > pre {
  font-size: 10px !important;
}

.distance-points-container {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  .distance-points-container {
    padding-left: 0%;
  }
}
@media screen and (min-width: 600px) {
  .distance-points-container {
    padding-left: 1%;
  }
}
@media screen and (min-width: 900px) {
  .distance-points-container {
    padding-left: 3%;
  }
}

.my-toastr {
  display: none;
  opacity: 0;
  width: 300px;
  position: fixed;
  padding: 10px 20px;
  background: linear-gradient(2deg, rgba(52, 152, 219, 0.75) 35%, rgba(213, 248, 255, 0.85) 100%);
  border-radius: 5px;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.48), 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .my-toastr {
    top: 160px;
    right: calc(50% - 150px);
  }
}
@media screen and (min-width: 600px) {
  .my-toastr {
    top: 140px;
    right: 25px;
  }
}
@media screen and (min-width: 900px) {
  .my-toastr {
    top: 70px;
    right: 25px;
  }
}

.my-toast-header {
  text-align: center;
  padding: 0.5rem 0.75rem;
  color: #757575;
  background-clip: padding-box;
  background-color: #fff;
  border-bottom: 1px solid rgba 0, 0, 0, 0.05;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.toast-body {
  color: #fff;
  text-align: center;
}

.container-lazy-load {
  width: 100%;
  height: 600px;
  overflow: auto;
}

#mocha-stats {
  top: 80px !important;
}/*# sourceMappingURL=styles.css.map */