
@mixin primary-box-shadow-black {
	-webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.48), 0px 0px 33px 15px rgba(0,0,0,0.2) !important; 
	box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.48), 0px 0px 20px 7px rgba(0,0,0,0.2) !important;
}

@mixin btn-box-shadow-black {
	-webkit-box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0,0,0,0) !important; 
	box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgba(0,0,0,0) !important;
}

@mixin btn-box-shadow-black-hover {
	-webkit-box-shadow: 1px 13px 30px -3px #fff; 
	box-shadow: 1px 0px 13px -3px #fff;
}

@mixin flex-box($flex, $content, $items) {
	display: flex;
	flex-direction: $flex;
	justify-content: $content;
	align-items: $items;
}

@mixin input-select-focus {
	outline: 0 none !important;
    border-color: #3498DB !important;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.095) inset, 0 0 8px rgba(77,147,217, 0.45) !important;
}

@mixin code-container {
	max-width: 400px;
	font-size: 14px;
    color: $third-color-blue !important;
    background: linear-gradient(2deg, rgba(91,98,104,0.08) 100%, rgba(213,248,255,1) 100%) !important;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
    @include btn-box-shadow-black;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
