.table-bordered {
    font-size: 16px !important;
    border-radius: 5px;
    padding: 5px;
    @include btn-box-shadow-black;
    overflow: hidden;

    @include for-phone-only {
        width: 100%;
    }

    @include for-tablet-portrait-up {
        width: 400px;
    }

    & > thead {
        background: rgba(91,98,104,0.7) !important; 
    }

    & th {
        text-align: center;
        color: whitesmoke;
        @include for-phone-only {
            max-width: 60px;
        }

        @include for-tablet-portrait-up {
            width: 100px;
        }
    }

    & td {
        text-align: right;
        @include for-phone-only {
            max-width: 60px;
        }

        @include for-tablet-portrait-up {
            width: 100px;
        }
    }

    & th,
    & tr {
       max-width: 100%;
    }

    tr,
    .tr-default {
        cursor: pointer;
        color: $third-color-blue !important;
        background: linear-gradient(2deg, rgba(91,98,104,0.08) 100%, rgba(213,248,255,1) 100%) !important;
        color: #4f4f4f !important;
    }
}
