
.convert-description-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0.5% 0;
}

section {
    width: 100%;
    margin: 2% 0;

    & > h5,
    & > div,
    & > p {
        width: 100%;
    }
}

.convert-decimal-to-binary,
.convert-decimal-to-hexadecimal,
.convert-decimal-to-octal,
.convert-binary-to-decimal,
.convert-binary-to-binary,
.convert-binary-to-hexadecimal,
.convert-binary-to-octal,
.convert-hexadecimal-to-decimal,
.convert-hexadecimal-to-binary,
.convert-hexadecimal-to-hexadecimal,
.convert-hexadecimal-to-octal,
.convert-octal-to-decimal,
.convert-octal-to-binary,
.convert-octal-to-hexadecimal,
.convert-octal-to-octal {
    display: none;
}

