
footer {
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../images/tu-gabrovo-footer.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat; 
    padding: 15px 0px;
    color: whitesmoke;
}


.footer-container {
    width: 100%;
    @include for-phone-only {
        @include flex-box(column, center, center);
    }

    @include for-tablet-portrait-up {
        @include flex-box(column, center, center);
    }

    @include for-tablet-landscape-up {
        @include flex-box(column, center, center);
    }

    @include for-tablet-up {
        @include flex-box(row, space-around, center);
    }
}

.icons-container {
    margin: 2% 0;
    @include flex-box(row, center, center);

    @include for-phone-only {
        width: 100%;
    }

    @include for-tablet-portrait-up {
        width: 300px;
    }

    @include for-tablet-landscape-up {
        width: 300px;
    }

    @include for-desktop-up {
        width: 450px;
    }

    & > i {
        cursor: pointer;
        font-size: 30px;
        margin: 0 1%;
        padding: 5px;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        transition: all 0.5s;

        &:hover {
            @include btn-box-shadow-black-hover;
        }
    }

    .fa-github {
        background-color: rgb(0,0,0);
        &:hover {
            background-color: rgb(40,40,40);
        }
    }

    .fa-facebook-f {
        padding: 5px 12px;
        background-color: rgb(69,104,233);
        &:hover {
            background-color: rgb(76,135,253);
        }
    }

    .fa-twitter {
        background-color: rgb(68,143,230);
        &:hover {
            background-color: rgb(68,186,253);
        }
    }

    .fa-youtube {
        background-color: rgb(230,38,62);

        &:hover {
            background-color: rgb(249,38,16);
        }
    }
}

.feedback-container {
    margin: 2% 0;
    padding-left: 0;

    @include for-phone-only {
        width: 100%;
        padding-left: 3%;
        @include flex-box(column, flex-start, flex-start);
    }

    @include for-tablet-portrait-up {
        min-width: 450px;
        @include flex-box(row, center, center);
    }

    @include for-desktop-up {
        min-width: 550px;
    }
}

.text-area-feedback {
    max-width: 350px;
}

#feedback,
textarea:focus,
#feedback:focus,
.text-area-feedback:focus {
    border: 1px solid transparent !important;
    resize: none !important;
    outline: 0 !important;
}

.feedback {
    cursor: pointer;
    width: 140px;
    background: linear-gradient(2deg, rgba(91,98,104,1) 35%, rgba(213,248,255,1) 100%); 
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 12px;
    transition: all 0.4s;

    &:hover {
        background: linear-gradient(2deg, rgba(91,98,104,1) 55%, rgba(213,248,255,1) 100%); ;
    }
}

.modal-content {
    padding: 10px 20px;
    background: linear-gradient(2deg, rgba(52, 152, 219, 0.75) 35%, rgba(213, 248, 255, 0.85) 100%);
    border-radius: 5px;
    box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 48%), 0px 0px 20px 7px rgb(0 0 0 / 20%);
}

.modal-header {
    display: block;
    padding: 0.5rem 0.75rem;
    color: #757575;
    background-clip: padding-box;
    background-color: #fff;
    border-bottom: 1px solid rgba 0, 0, 0, 0.05;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);

    & h5 {
        width: 100%;
        text-align: center;
    }
}

.modal-header .fa-check {
    border: 0.5px solid black;
    border-radius: 50%;
    padding: 5px;
}





//footer list navigation
.list-container {
    margin: 2% 0;
}

.u-list {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.list-anchor {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    transition: all 0.4s;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none !important;

    & .fa-table,
    & .fa-university,
    & .fa-calculator {
        font-size: 16px;
        opacity: 0;
        visibility: hidden;
        padding-right: 8px !important;
        transition: all 0.4s;
    }

    & .fa-table {
        color: #FC5A8D !important;
    }

    & .fa-university {
        color: #A7F432 !important;
    }

    & .fa-calculator {
        color: #76D7EA !important;
    }
}

.a-table {
    &:hover {
        color: #FC5A8D !important;
    }

    &:hover .fa-table {
        opacity: 1;
        visibility: visible;
    }
}

.a-university {
    &:hover {
        color: #A7F432 !important;
    }

    &:hover .fa-university {
        opacity: 1;
        visibility: visible;
    }
}

.a-calculator {
    &:hover {
        color: #76D7EA !important;
    }

    &:hover .fa-calculator {
        opacity: 1;
        visibility: visible;
    }
}

