.e-button {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  color: whitesmoke !important;
  -webkit-box-shadow: 1px 0px 30px -11px #000000;
  box-shadow: 1px 0px 30px -11px #000000;
}

.btn-convert {
  background: linear-gradient(2deg, #3e93ff 40%, #d5f8ff 100%);
}

.btn-convert:hover {
  background: linear-gradient(2deg, #3e93ff 55%, #d5f8ff 100%);
}

.btn-reset {
  display: inline-block;
  position: relative;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: linear-gradient(2deg, #5b6268 40%, #d5f8ff 100%);
}

.btn-reset:hover {
  background: linear-gradient(2deg, #5b6268 50%, #d5f8ff 100%);
}

.span-convert {
  display: inline-block;
  position: relative;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fa-long-arrow-alt-right {
  color: #fff;
  position: absolute;
  right: 12px;
  top: 10px;
  display: inline-block;
  visibility: hidden;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.btn-convert:hover > .span-convert {
  transform: translateX(-12px);
}

.btn-convert:hover > .fa-long-arrow-alt-right {
  visibility: visible;
  opacity: 1;
}
