.header-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0.6%;
    background: linear-gradient(2deg, rgba(62,147,255,1) 60%, rgba(213,248,255,1) 100%); 
    
    &-ul {
        width: 15%;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 0 !important;
        padding-left: 0 !important;
    }

    &-li {
        height: 2rem;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    &-ancher {
        cursor: pointer;
        text-decoration: none !important;
        color: whitesmoke !important;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
    }

    &-ancher:hover {
        border-color: whitesmoke;
    }
}

.e-header {
    display: flex;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    align-items: center;
}

.e-header::after {
    content: none;
    position: relative;
    background-color: whitesmoke;
    width: 50px;
    height: 3px;
}

.header-container-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-search {
    max-width: 35px;
    max-height: 33px;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-search:hover {
    transform: scale(1.2);
    color: rgb(213, 214, 214);
}

.fa-search {
    padding-top: 10px;
    margin-left: 10px;
}

.search-input,
.search-input:focus {
    border: none !important;
    outline: none !important;
}