.header-container {
    padding: 10px;
    background: linear-gradient(2deg, rgba(52,152,219,1) 60%, rgba(213,248,255,1) 100%); 

    @include for-phone-only {
        margin: 0% 0%;
        @include flex-box(column, flex-start, flex-start);
    }

    @include for-tablet-portrait-up {
        margin: 0.6%;
        @include flex-box(column, center, center);
    }

    @include for-tablet-landscape-up {
        @include flex-box(row, space-around, center);
    }

    & > .nav-container {
        @include for-phone-only {
            width: 100%;
            @include flex-box(column, flex-start, flex-start);
        }

        @include for-tablet-portrait-up {
            width: 100%;
            @include flex-box(column, center, center);
        }
    
        @include for-tablet-landscape-up {
            width: 250px;
            @include flex-box(row, space-around, center);
        }

        & > .fa-bars {
            cursor: pointer;
            font-size: 24px;
            color: whitesmoke;

            @include for-phone-only {
                visibility: visible;
                opacity: 1;
                //equal float-right!!!
                margin-left: auto;
            }
    
            @include for-tablet-portrait-up {
                visibility: visible;
                opacity: 1;
                //equal float-right!!!
                margin-left: auto;
            }
        
            @include for-tablet-landscape-up {
                visibility: hidden;
                opacity: 0;
            }
        }

        & > .unordered-list {
            width: 200px;
            list-style: none;
            margin: 0 !important;

            @include for-phone-only {
                display: 'none';
                @include flex-box(column, flex-start, flex-start);
            }
    
            @include for-tablet-portrait-up {
                display: 'none';
                padding-left: 0 !important;
                @include flex-box(column, center, center);
            }
        
            @include for-tablet-landscape-up {
                display: flex;
                @include flex-box(row, space-around, center);
            }
        }

        & .list-item {
            display: inline-block;
            position: relative;
            cursor: pointer;
            height: 2.2rem;
            margin: 0 5px;
            padding: 0 8px;
            @include flex-box(row, center, center);
            background-color: transparent;
            transition: background-color 0.5s;

            &-underline {
                position: absolute;
                top: 35px;
                left: 0;
                height: 2px;
                width: 0;
                background-color: whitesmoke;
                transition: all 0.5s;
            }

            &:hover {
                background-color: #2E86C1;
            }

            &:hover .list-item-underline {
                width: 100%;
                left: 0;
            }
        }

        & .link {
            cursor: pointer;
            text-decoration: none !important;
            color: whitesmoke !important;
        }
    }
}

.fa-angle-down {
    color: whitesmoke;
    padding-left: 5px;
}

.e-header {
    @include for-phone-only {
        width: 100%;
        @include flex-box(row, flex-start, flex-start);
    }

    @include for-tablet-portrait-up {
        @include flex-box(row, center, center);
    }

    @include for-tablet-landscape-up {
        @include flex-box(row, center, center);
    }

    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
}

.header-container-search {
    @include for-phone-only {
        min-width: 46%;
        margin: 2% 0%;
        @include flex-box(row, flex-start, flex-start);
    }

    @include for-tablet-portrait-up {
        width: 250px !important;
        @include flex-box(row, center, center);
    }

    @include for-tablet-landscape-up {
        @include flex-box(row, center, center);
    }
}


.btn-search {
    max-width: 35px;
    max-height: 33px;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-search:hover {
    transform: scale(1.2);
    color: rgb(213, 214, 214);
}

.fa-search {
    padding-top: 10px;
    margin-left: 10px;
}

.search-input,
.search-input:focus {
    border: none !important;
    outline: none !important;
}